{
	"folders": [
		{
			"path": "."
		}
	],
	"settings": {
		"files.autoSave": "afterDelay",
		"files.autoSaveDelay": 850,
		"window.autoDetectColorScheme": true,
		"editor.fontFamily": "Fira Code",
		"workbench.preferredLightColorTheme": "Solarized Light",
		"workbench.preferredDarkColorTheme": "Solarized Dark",
		"editor.fontSize": 14
	}
}